<!DOCTYPE html>
<html lang="pt-AO">
<head>
    <meta charset="UTF-8">
    <title>ZERIT - Acessar</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-[#151515]">
    <main class="flex justify-center w-screen">

        <div class="flex justify-center p-7 bg-[#212121] border-2 border-[#ececec1a] w-[70%] my-4">
            <nav class="hidden md:block">
                <img src="../assets/img/img.png" alt="" srcset="">
            </nav>
            <nav>
                <form action="#" class="flex flex-col p-3">
                    <nav>
                        <img src="../assets/img/logo.png" alt="" class="w-10 md:w-[9%]">
                        <h2 class="font-inter font-bold md:text-[20pt] text-white"><span class="text-[#41A0D6] text-shadow-blue-700">ZERIT</span> <br>CONTAS ORGANIZADAS <button class="animate-bounce"><span class="text-[#41A0D6] text-5xlxl">.</span></button></h2>
                        <h3 class="text-white font-extralight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia tempora impedit ipsa libero explicabo vero praesentium dolores rerum, magni voluptatem in asperiores amet.</h3>
                    </nav>
                    <nav class="navFormLabel">
                        <label for="utilizador">Utilizador</label>
                        <input type="text" name="utilizador" id="utilizador">
                    </nav>
                    <nav class="navFormLabel">
                        <label for="senha">Senha</label>
                        <input type="text" name="Senha" id="senha">
                    </nav>
                    <nav class="flex items-center justify-center top-6">
                        <a href="../index.html" class="btn btn0 mx-1.5"><button type="button">Voltar</button></a>
                        <button class="btn" type="submit">Entrar</button>
                    </nav>
                    <nav class="mt-8 font-extralight font-inter">
                        <p class="text-white">
                            Este aplicação está protegida com chaves criptografada o uso dela requer a compra de uma licença. Uso deste sistema sem a licença apropriada está sujeita a processo de acoordo com as leis vigente no Pais
                        </p>
                        <p class="pt-5 text-white">Software Desenvolvido pela: <span class="font-bold">ZE<span class="text-red-600">I</span>NER Inc.</span></p>
                    </nav>
                </form>
            </nav>
        </div>

    </main>
</body>
</html>