<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ZERIT | Tela 4</title>
    <script src="../assets/js/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../assets/css/css_extra/output.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-black font-f1 overflow-x-hidden">
    <div class="flex flex-col items-center justify-center md:flex-row md:justify-around">

        <nav class="flex flex-col items-center text-white font-f1 font-extrabold">
            <img src="../assets/img/logo.png" alt="" srcset="" class="w-1/4 md:w-5/6 animate-pulse">
            <h3 class="uppercase">CONTAS ORGANIZADA</h3>
            <small class="text-cor1">A Evolução do software de gestão</small>
        </nav>
        <nav class="Tela4Nav2 flex flex-col w-screen p-4 md:flex-row md:flex-wrap md:w-2/5">
            <a href="">
                <button class="btnTela4">
                    <i class="fa-solid fa-people-group"></i>
                    <h4 class="txtQuadradoTela4">Família</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-solid fa-box-archive"></i>
                    <h4 class="txtQuadradoTela4">Artigos</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-solid fa-people-arrows"></i>
                    <h4 class="txtQuadradoTela4">Entidades</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-solid fa-scroll"></i>
                    <h4 class="txtQuadradoTela4">Faturas</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-solid fa-car"></i>
                    <h4 class="txtQuadradoTela4">Guias de Transporte</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-regular fa-note-sticky"></i>
                    <h4 class="txtQuadradoTela4">Recibos</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-regular fa-note-sticky"></i>
                    <h4 class="txtQuadradoTela4">Extratos</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <h4 class="txtQuadradoTela4">Avisos de Vencimento</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-solid fa-arrow-up-9-1"></i>
                    <h4 class="txtQuadradoTela4">Idade de Saldos</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-solid fa-file-import"></i>
                    <h4 class="txtQuadradoTela4">Documentos Emitidos</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-regular fa-file"></i>
                    <h4 class="txtQuadradoTela4">Resumo Geral</h4>
                </button>
            </a>
            <a href="">
                <button class="btnTela4">
                    <i class="fa-regular fa-file"></i>
                    <h4 class="txtQuadradoTela4">Top Clientes</h4>
                </button>
            </a>    
        </nav>
    </div>
    <footer class="font-f1 font-light text-cor1 flex flex-col items-center justify-center md:mt-4">
        <nav class="text-center flex items-center justify-center">
            <img src="../assets/img/logotxt.png" alt="" srcset="" class="w-1/6 md:relative md:bottom-1">
            <small>Versão demonstrativa do sistema</small>
        </nav>
       
    </footer>
</body>
</html>